:root{
    --color-moodle : rgb(40, 74, 143);
    --color-texto: #333;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fuente/poppins-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.linea-azul{
    background-color: var(--color-moodle);
    border: none;
    height: 5px;
}

/*Header */
.header::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px black;
    padding: 10px;
}

/* Logo flotado a la izquierda */
.logo-moodle {
    float: left;
    height: 43px;
    margin-right: 15px;
    border-right: 1px solid var(--color-moodle);
    padding-right: 10px;
}

/* Contenedor del texto y menú */
.contenido-header {
    margin-left: 70px; /* espacio para que no se solape con el logo */
}

/* Texto del centro */
.texto-centro {
    font-size: 1.1em;
    color: var(--color-texto);
    font-weight: 700;
    margin-bottom: 5px;
}

/* Menú debajo del texto */
.menu-navegacion a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 500;
    font-size: 0.95em;
}

/* Iconos de usuario a la derecha */
.iconos-usuario {
    position: absolute;
    top: 35px;
    right: 60px;
    float: right;
    align-items: center;
}

.icono img {
    width: 25px;
    height: 30px;
    margin-right: 5px;
    object-fit: contain;
    cursor: pointer;
}


/* Añadimos la flecha después de la imagen */
.usuario::after {
    content: "˅";    
    font-size: 0.8em;
    color: var(--color-moodle);
    margin-left: 5px;      
    vertical-align: super; 
    cursor: pointer;
}

/*Main*/
.main {
    min-height: calc(100vh - 100px);
}

/*Footer*/
.footer {
    position: relative;
    min-height: 100px;
    background-color: var(--color-moodle);
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.footer-contenido {
    display: inline-block;
}

.footer-contenido::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 60px;
    max-width: 200px;
    object-fit: contain;
    margin: 0 15px;
}

.info-icono {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    object-fit: contain;
}





