
/* Definición de variables*/
:root {
    --color-primario: #04aeef;
    --color-azul-oscuro: #0f5aca;
    --color-blanco: white;
    --color-gris-claro: #eff0f6;
    --color-gris-oscuro:#c5c6cc;
    --fuente: Arial, Helvetica, sans-serif;
}

/*Reinicio general de algunos atributos*/
body {
    padding: 0;
    margin: 150px 0 0 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

/* --- MAQUETAMOS CON LA TÉCNICA MOBILE FIRST --- */

/* --- BARRA DE MENUS --- */

.cabecera {
    /*fijo la barra de menú arriba para que no le afecte el scrool */
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: var(--color-primario);
    height: 80px;
    /*convierto a los hijos directos en elementos flexibles*/
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

/*Logo versión móvil, oculto en la versión de escritorio*/
.logo-movil {
    width: 40px;
}

/*Logo en la versión de escritorio*/
.logo-desktop {
    display: none;
    height: 60px;
}

/*div que engloba al input text, lo hago elementos flexible para poder trabajar mejor con el hijo*/
.div-buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
}

/*input hijo de div-buscar*/
.input-buscar {
    width: 80%;
    height: 40px;
    border-radius: 40px;
    border: none;
}

/*igual que el div anterior, lo hago flex para poder posicionar más facilmente a los hijos*/
.menu-rayitas {
    display: flex;
    width: 40px;
    justify-content: end;
    align-items: center;
}

/*las rayitas svg*/
.linea {
    fill: none;
    stroke: white;
    stroke-width: 4px;
    transform-origin: center;
    transform-box: fill-box;
    transition: all 0.05s ease-in-out;
}

/*tranformación al poner el ratón sobre el svg*/
.menu-icono:hover .linea1 {
    transform: translateY(20px) rotate(45deg);
}

.menu-icono:hover .linea2 {
    opacity: 0;
}

.menu-icono:hover .linea3 {
    transform: translateY(-20px) rotate(-45deg);
}

/* --- MAIN --- */

/*Que el main ocupe un 90% de la anchura de la pantalla en versión móvil */
main {
    width: 90%;
    margin: 20px auto;
}

/*todas las imágenes ocupan el 100% en su contenedor*/
img {
    border-radius: 5px;
    width: 100%;
}

/*clase para los encabezados de los <section>*/
.titular-sub {
    font-weight: 750;
    border-bottom: 4px solid var(--color-azul-oscuro);
}

/* --- PRIMER <SECTION> MAQUETADO CON GRID EN MODO MÓVIL--- */

/*Pongo nombre con grid-area a cada elemento que va a forma parte del grid*/
#titular-ppal {
    position: relative;
    grid-area: titular-ppal;
}

#lateral-1 {
    grid-area: lateral-1;
}

#lateral-2 {
    grid-area: lateral-2;
}

#lateral-3 {
    grid-area: lateral-3;
}

#lateral-4 {
    grid-area: lateral-4;
}

#inferior-1 {
    margin-left: 15px;
    grid-area: inferior-1;    
}

#inferior-2 {
    margin-left: 15px;
    grid-area: inferior-2;
}

.lateral {
    border-radius: 5px;
}

.txt-sobre-img {
    font-weight: bold;
    margin: 10px;
}

.inf-txt-titulo {
    font-size: 0.75rem;
    font-weight: 100;
}

.inf-txt-cuerpo {
    font-weight: bold;
}

.punto-azul {
    color: var(--color-primario);
    font-weight: bold;
}

/*Aquí definimos como se van a distribuir los elementos a los que les hemos dado nombre antes con grid-area*/
.principales {
    display: grid;
    /*Tres columnas modo móvil*/
    grid-template-columns: repeat(3, 1fr);
    /*Tantas filas como etiquetas debo distribuir en altura*/
    grid-template-rows: repeat(5, auto);
    /*es como un lienzo en el que "dibujamos" que espacio ocupa cada elemento con nombre*/
    grid-template-areas: 
        "titular-ppal titular-ppal titular-ppal"
        "lateral-1 lateral-1 lateral-1"
        "lateral-2 lateral-2 lateral-2"
        "lateral-3 inferior-1 inferior-1"
        "lateral-4 inferior-2 inferior-2";
    /*alineo los elementos de forma que los de los extremos se pegan al borde de la pantalla*/
    justify-content: space-around;
    /*separación entre filas*/
    row-gap: 15px;
}

.ver-mas {
    width: 100%;
    text-align: right;
    margin: 30px 0 45px 0;
}

/* --- SEGUNDO <SECTION> MAQUETADO CON GRID EN MODO MÓVIL --- */

#play1 {
    grid-area: play1;
}

#play2 {
    grid-area: play2;
}

#play3 {
    grid-area: play3;
}

.eltiempo-play {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 3, auto;
    grid-area: 
        "play1"
        "play2"
        "play3";
    row-gap: 15px;
}

.eltiempo-play-div {
    border-radius: 5px;
}

/* -- MAQUETADO DE FOOTER1 CON GRID EN VERSIÓN MÓVIL --- */

.footer1 {
    margin: 50px 0 0 0;
    background-color: var(--color-gris-claro);
}

.footer1 p, .footer1 h4 {
    font-size: 0.8rem;
}

.pie-parte1, .pie-parte2 {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

#titulo-pie-parte1 {
    grid-area: tit-pie-p1;
    padding-bottom: 20px;
    border-bottom: 0.5px solid grey;
}

#pie1 {
    grid-area: pie1;
}

#pie2 {
    grid-area: pie2;
}

#pie3 {
    grid-area: pie3;
}

#pie4 {
    grid-area: pie4;
}

/* -- MAQUETADO DE FOOTER1 EN VERSIÓN MÓVIL --- */

.footer2 {
    background-color: var(--color-gris-oscuro);
}

.icono-apps {
    display: inline-block;
    margin: 0 5px;
    width: 30%;
}

.icono-redes {
    margin: 0 5px;
}

.pie-parte2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

.pie-parte2 p {
    margin: 30px 0;
}

.en-tu-web a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

/* --- MEDIA QUERIE PARA PANTALLAS APAISADAS DE, AL MENOS 992px --- */
@media screen and (min-width: 992px) and (orientation: landscape){

    /*Que el main ocupe un 60% de la anchura de la pantalla, con un máximo de 1200px*/
    main, .pie-parte1, .pie-parte2 {
        width: 70%;
        max-width: 1200px;
        margin: 0 auto;
    }

    /*Logo versión móvil, oculto en la versión de escritorio*/
    .logo-movil {
        display: none;
    }

    /*Logo en la versión de escritorio*/
    .logo-desktop {
        display: block;
        height: 60px;
    }

    .principales {
        display: grid;
        /*4 columnas iguales que ocupan 1 fracción cada uno*/
        grid-template-columns: repeat(4, 1fr);
        /*3 filas que se adaptan al contenido en altura*/
        grid-template-rows: repeat(3, auto);
        /*es como un lienzo en el que "dibujamos" que espacio ocupa cada elemento con nombre*/
        grid-template-areas: 
            "lateral-1 titular-ppal titular-ppal titular-ppal"
            "lateral-2 titular-ppal titular-ppal titular-ppal"
            "lateral-3 inferior-1 lateral-4 inferior-2";
        /*alineo los elementos horizontalmente al centro*/
        justify-content: space-around;
        /*separación entre columnas*/
        column-gap: 30px;
        /*separación entre filas*/
        row-gap: 15px;
    }

    /*fondo negro para los div con clase lateral para poder hacer el efecto fade to black con la imagen que tiene dentro y con no ocupa toda su altura*/
    .lateral {
        /*pongo relative este div para poder posicionar el texto de los <p> dentro de él*/
        position: relative;
        background-color: black;
        border-radius: 5px;
    }

    /*degradado entre el fondo del div y la imagen contenida en el para crear un efecto fade to black*/
    .img-deg {
        -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    }

    /*texto sobre las imágenes, position: absolute, para recolocar el texto sobre el div*/
    .txt-sobre-img {
        position:absolute;
        left: 10px;
        bottom: 5px;
        margin-right: 10px;
        font-weight: bold;
        /*alto para que se ponga por encima del resto de elementos*/
        z-index: 100;
        color: white;
    }

    /* --- SEGUNDO <SECTION> MAQUETADO CON FLEX EN VERSIÓN DESKTOP --- */

    .eltiempo-play {
        display: flex;
        gap: 30px;
    }

    .eltiempo-play-div {
        position: relative;
        border-radius: 5px;
        background-color: black;
    }

    .img-deg-50 {
        -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }

    /* -- MAQUETADO DE PIE-PARTE1 CON GRID EN VERSIÓN DESKTOP --- */

    .pie-parte1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "tit-pie-p1 tit-pie-p1 tit-pie-p1 tit-pie-p1"
            "pie1 pie2 pie3 pie4";
    }

    .cont-textos-pie {
        margin-right: 20px;
        border-right: 0.5px solid grey;
    }

    /* -- MAQUETADO DE FOOTER2 EN VERSIÓN DESKTOP --- */

    .footer2 {
        background-color: var(--color-gris-oscuro);
    }

    .icono-apps {
        display: inline-block;
        margin: 0 5px;
        width: 100pxpx;
    }

    .pie-parte2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
    }

    .pie-parte2 p {
        margin-bottom: 40px;
    }

    .apps, .en-tu-web .redes {
        width: 33%;
    }

    .en-tu-web {
        text-align: center;
    }

    .en-tu-web a {
        padding: 10px 20px;
        border: 0.5px solid black;
        border-radius: 5px;
    }

}
