body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    background-color: white;
}

.contenedor{
    display: flex;
    margin: 0 auto;
    height: 15vh;
    flex-wrap: wrap;
}

.arriba{
    width: 100%;
    height: 25%;
    background-color: rgb(15, 56, 30);
    color: white;
}

.abajo{
    width: 80%;
    height: 75%;
    display: flex;
    background-color: aqua;
    flex-wrap: wrap;
}

.cen-izq , .cen-der{
    width: 30%;
}

.cen-cen{
    width: 40%;
}

.abj{
    width: 100%;
}
