body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  --color-gris: #eee;
  --color-blanco: white;
  --color-primario: #5582f3;
  --color-secundario: #a3bbf5;

  --fuente-principal: Arial, Helvetica, sans-serif;

  font-family: var(--fuente-principal);
  background-color: var(--color-gris);
}

header {
  position: relative;
  background-color: var(--color-primario);
  overflow-y: auto;
  height: 10vh;
  align-content: center;
  box-shadow: 0 0 15px 5px grey;
}

header .header-flota-izq {
  width: 30%;
  float: left;
  margin-left: 2%;
}

header .header-flota-der {
  width: 30%;
  float: right;
  margin-right: 2%;
  text-align: right;
  position: relative;
}

    .nombre{
        color: var(--color-blanco);
        position: absolute;
        right: 15%;
        top: 10px;
    }

    .inicial{
        color: var(--color-primario);
        border-radius: 50%;
        background-color: var(--color-blanco);
        width: 30px;
        height: 30px;
        font-size: 1.2em;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        right: 25px;
    }

    .inicial .nombre{
        vertical-align: middle;
    }

header .header-centro {
  margin-left: 3%;
  position: relative;
  text-align: center;
}

.busqueda {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: var(--color-primario);
  font-size: 1.5em;
  transition: all 0.5s ease;
}

.busqueda:focus {
  background-color: var(--color-blanco);
}

.lupa {
  width: 20px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  filter: invert(0.5);
  transition: all 0.5s ease;
}

.busqueda:focus + .lupa {
  filter: invert(0);
}

header object {
  width: 30px;
}

.usuario{
    filter: grayscale(100%);
}

main {
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  border: 1px solid black;
  background-color: var(--color-blanco);
  border-radius: 25px;
}

main .sec1 {
  background-color: red;
}

main .sec2 {
  background-color: yellow;
}

main .sec3 {
  background-color: blue;
}

main .sec4 {
  background-color: green;
}

body .panel{
    background: #ffffff;
background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(215, 226, 252, 1) 6%, rgba(127, 161, 244, 1) 25%, rgba(85, 130, 243, 1) 82%);
    color: var(--color-blanco);
    position: fixed;
    left: 0;
    height: 100%;
    display: none;
    transition: all 0.5s ease;
  }

  body .panel ul{
    list-style: none;
  }

  body .panel ul li {
    display: block;
    padding: 10px;
  }

  body .panel ul li a{
    text-decoration: none;
    color: var(--color-blanco);
  }



/*ESTILOS VERSIÓN MOBILE*/
@media screen and (max-width: 1023px) {
    body nav{
        display: none;
    }

  .menu-rayas:hover + .panel {
  display: block;
}

    .nombre{
        display: none;
    }


    .menu-rayas:hover{
         transform: scale(1.1);
    }

    main .tarjeta {
    text-align: center;
    width: 90%;
    height: 200px;
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 10px;
  }

  footer {
    background-color: var(--color-primario);
    width: 100%;
    text-align: center;
  }

  footer ul{
    list-style: none;
  }

  footer ul li a{
    color: var(--color-blanco);
    text-decoration: none;
  }
}

/*ESTILOS VERSIÓN DESKTOP*/
@media screen and (min-width: 1023px) {
  header .header-flota-izq object:first-child{
    display: none;
  }

  .inicial{
    display: none;
  }

  aside{
    display: none;
  }

  .panel{
    display: none;
  }
  
   body nav {
    display: block;
    text-align: center;
    border-bottom: 1px solid gainsboro;
  }

   body nav ul{
    list-style: none;
  }

  body  nav ul li{
    display: inline-block;
  }

   body nav ul li a {
    display: block;
    color: var(--color-primario);
    text-decoration: none;
    padding: 5px 25px 0px 25px;
  }

    main {
    text-align: center;
  }

  main .tarjeta {
    text-align: center;
    width: 45%;
    height: 200px;
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 10px;
    display: inline-block;
  }

  footer {
    background-color: var(--color-primario);
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
  }

  footer ul{
    list-style: none;
  }

  footer ul li{
    display: inline-block;
  }

  footer ul li a {
    display: block;
    text-decoration: none;
    color: var(--color-blanco);
    padding: 0 25px;
  }
}
