:root{
    --color-fondo:       #121212;    
    --texto-principal:   #F5F5F5;     
    --color-primario:    #3B82F6;     
    --color-secundario:  #374151;     
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
}

#titulo{
    display: flex;
    justify-content: center;
    color: var(--texto-principal);
}

#cabecera {
  display: flex;
  width: 100%;
  padding: 5px;
  border: 1px solid var(--color-secundario);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  padding: 20px;
  background-color: var(--color-primario);
}

#lista{
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}  

#lista > li > a{
    text-decoration: none;
    font-size: 14px;
    color: var(--texto-principal);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--color-fondo);
    border-color: var(--color-secundario);
    border: 1px solid;
}


#nav{
    width: 100%;
    height: 40px;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    color: var(--texto-principal);
    padding: 25px;
    border-radius: 5px;
}

#main{
    display: flex;
    flex-wrap: wrap;        
    gap: 15px;             
    width: 100%;
    justify-content: center;
}

#card{
    border: 1px solid var(--color-primario);
    width: 20%;             
    min-width: 200px;       
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-sizing: border-box; 
    margin-top: 20px;
}
