/* ============================
   COLORES
============================ */
:root {
    --green: #00703C;
    --green-dark: #005A30;
    --white: #ffffff;
    --gray: #F4F6F9;
    --text: #333;
    --grey-dark: rgb(131, 130, 130);
}

/* ============================
   BASE
============================ */
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: var(--white);
    color: var(--text);
}


.container {
    width: 92%;
    max-width: 1400px;
    margin: auto;
}

/* ============================
   TOPBAR
============================ */
.topbar {
    background: var(--green);
    padding: 20px 0;
    color: var(--white);
}

.topbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.topbar .left img {
    height: 20px;
}

.topbar .right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.topbar .right img {
    height: 28px;
}

.social-icon {
    margin-left: 30px;
}
.social-icon:hover{
    transform: scale(1.1);
}


.enlace {
    text-decoration: none;
    color: white;
    position: relative;
    margin-left: 30px;
    top: -3px;
    font-weight: bold;
    font-size: 18px;
}

#SaludResp {
    margin-right: 40px;
}

.zoom:hover {
    transform: scale(1.1);
}

/* ============================
   LOGO + TÍTULOS
============================ */
.header-logo {
    background: var(--green);
    padding: 20px 0 5px;
    text-align: center;
}

.logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo-junta {
    height: 140px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
    position: relative;
}

.title-img {
    height: 50px;
    position: absolute;
    left: 30%;

}

.subtitle-img {
    height: 36px;
    opacity: 0.95;
    margin-right: 25%;
    margin-bottom: 10px;
}

/* ============================
   MENÚ PRINCIPAL
============================ */
.main-menu {
    background: var(--green);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-content {
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    position: relative;
    top: 20px;
}

.menu-links {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.menu-links>li>a {
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

/* ICONOS DEL MENÚ */
.menu-icon {
    height: 28px;
    width: 28px;
    object-fit: contain;
}

/* ============================
   SUBMENÚS
============================ */
.dropdown {
    position: relative;
}

.long {
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.dropdown:hover,
.arrow:hover {
    background-color: var(--green-dark);
}

.arrow::after {
    content: "▼";
    color: white;
    position: absolute;
    right: -20px;
    top: 10px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    min-width: 230px;
    border-radius: 0 0 6px 6px;
    padding: 10px 0;
    margin-top: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    list-style: none;
    padding-left: 0;
}

.submenu li {
    list-style: none;
    padding: 10px 22px;
}

.submenu li a {
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.submenu li a:hover {
    background: #f0f0f0;
}

.dropdown:hover .submenu {
    display: block;
}

/* ============================
   Imagenes centrales 
============================ */
.title-img {
    height: 55px;
}

.subtitle-img {
    height: 60px;
}

/* ============================
   BUSCADOR 
============================ */
.search-bar {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 10px;
    width: 300px;
    border: 2px solid var(--white);
    margin-left: 20px;
    position: relative;
    top: -130px;
    left: 94%;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 0 12px;
    font-size: 18px;
    outline: none;
}

.search-btn {
    border: none;
    cursor: pointer;
    display: flex;
    background-color: white;
}

.search-btn img {
    width: 32px;
    object-fit: contain;
}

.periodico {
    height: 5px;
    width: 25px;
}

/* ============================
   CARRUSEL
============================ */
.carousel {
    width: 100%;
    max-height: 550px;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 550px;
}

.swiper-slide img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

/* ============================
   HERO
============================ */
.hero {
    background: var(--gray);
    padding: 20px 0;
    text-align: center;
}

.hero h2 {
    font-size: 32px;
    color: var(--green-dark);
}


/*=============================
  ENLACES VARIOS
============================ */

.enlVarios{
    background: var(--gray);
    padding: 20px 0;
}

.varios{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

@keyframes cambioColor{
    from{color: var(--text);}
    to{color: var(--green);}
}

#EnInt:hover{
 animation-name:cambioColor;
 animation-duration: 4s;
}

.EnIm{
    border-radius: 50%;
}

#cadena{
    width: 30%;
}

#libro{
    width: 50%;
}

#libroCerrao{
    width: 30%;
}

#estadis{
    width: 30%;
}

#wifi{
    width: 30%;
}
/* ============================
   NEWS
============================ */
.news {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.news h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--green-dark);
}

.news article {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 272px;
    height: 500px;
    display: inline-block;
    box-shadow: 5px 5px 5px 5px var(--grey-dark);
}


.noticias>a{
    text-decoration: none;
}

.noticias>a>h3{
    color: var(--green);
}

.noticias>a>p{
    color: black;
}

.noticias>a>span{
    color: var(--text);
}
.noticias>a>img{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

hr{
    color: var(--text);
}

/* ============================
   FOOTER
============================ */
footer {
    background: var(--grey-dark);
    color: var(--white);
    padding: 20px 0;
    margin-top: 40px;
    position: relative;
}

footer a {
    text-align: left;
    color: var(--white);
    text-decoration: none;
}

footer img {
    width: 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    position: absolute;

}

.uno {
    top: 10px;
    right: 240px;
}

.dos {
    top: 50px;
    right: 250px;
}

.tres {
    top: 90px;
    right: 250px;
}

.footer-links>li>a {
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}


.footer-links>li>a:hover {
    background-color: var(--green);
    border-radius: 10px;
}

.social-icon-footer{
    position: absolute;
    right: 45%;
    top: 75%;
}

.social-icon-footer>a>img{
    width: 25px;
    margin: 0 10px;
}

.social-icon-footer>a>img:hover{
    transform: scale(1.1);
}